@import "normalize";
@import "lightgallery";
@import "lg-transitions";
@import "uikit.min";
@import "uikit-rtl.min";

h1, h2, p, .lg-sub-html, #lg-counter-all, h3{
  font-family: 'Montserrat', sans-serif; 
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background: #83AFC8;
    padding: 0 40px;
}

uk-navbar-nav>li>a{
    color:whitesmoke;
}

body{
    background:url("https://www.toptal.com/designers/subtlepatterns/patterns/spiration-light.png");
}

// Header
header{
    width:100%;
    height:250px;
    background:#83AFC8;
    margin-bottom:30px;
}
 
h1{
    font-size: 48px;
    text-align: center;
    padding-top: 80px;
}

h2{
    margin-left:50px;
}

#pointer {
    position: absolute;
    bottom: 400px;
    right: 50px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 38px solid #83AFC8;
}

.me {
  margin: 0 auto;
  top: -35px;
  background-color: whitesmoke;
  height: 2px;
  width: 100px;
}

#val{
    margin-right:10px;
    display:inline;
    max-width:120px;
    max-height:120px;
    border-radius: 50%;
    border: 2px solid #000000;
}
.bio{
    margin: 0 auto;
    max-width:80%;
    display:flex;
    flex-direction:row;
}

.uk-small-grid{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.uk-link, a {
    color: whitesmoke;
    text-decoration: none;
    cursor: default
}

uk-link, a:hover{
    color: white;
    text-decoration:none;
}

a.uk-icon:hover{
    color:darkblue;
}

.countdown{
    margin-top:15px;
    margin-left:50px;
    font-family: 'Montserrat', sans-serif;
}

//Footer - Contact Info
footer{
    margin-top:100px;
    position:relative;
    width:100%;
    bottom:0;
    background-color:rgba(33,96,132,.5);
}

.contact{
    display:flex;
    margin:0 auto;
    max-width:95%;
    justify-content: space-between;
    flex-direction: row;
    align-content:baseline;
    font-size:12px;
}

.contact li{
    padding:10px;
    list-style-type: none; 
}
.contact a {
    padding-right:3px;
}

footer p{
    padding-bottom: 10px;
    font-size: 10px;
    text-align:center;
}

// Light Gallery Styling
.lg-backdrop{
  background: rgba(16, 0, 28, 0.8);
}

.lg-object {
  border-radius: 3px;
}

.lg-progress-bar .lg-progress{
    background: rebeccapurple;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover{
    border-color:rebeccapurple;
}

//Layout
.skills{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.skills li{
    list-style-type: none;
    margin: 0px, 10px;
    max-width:100px;
}

figure{
    display:flex;
    text-align: center;
    margin:0 auto;
    width:90%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

figure img{
    margin:3px;
}

figure div{
    margin:10px;
    padding:10px;
    width:400px;
}

figcaption{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

main{
    width:90%;
    margin:0 auto;
}

.uk-card-default{
    background: rgba(33,96,132,.4);
}


// Media Queries

@media(max-width:780px){
  .contact{
    flex-direction:column;
  }
    
    .countdown{
        margin-left:0px;
    }
}

@media(max-width:600px){
    .bio{
        display:block;
    }
}

@media(max-width:420px){
    .uk-navbar-left{
        display:none;
    }
}