body{
  font-family:Avenir;
  background-color:#ebebeb;
}
a{
  height:20px;
  background-color:steelblue;
  color:white;
  text-decoration:none;
  padding:5px;
  border-radius:5%;
}
a:hover{
  background-color:gray;
}

h1{
  color:black;
  font-family: 'Lora', serif;
}
.about-me{
  display:inline-block;
}
h2,h3{
  color:#636;
  font-family: 'Lora', serif;
}
h2{
  display:inline;
}
.profile{
  margin: 2px 6px;
  float:right;
  display:inline;
  max-width:210px;
  border-radius:20%;
  
}
.profile:hover{
  box-shadow: 0 0 2px 1px;
}
.book{
  width:150px;
  box-shadow: 0 0 2px 1px;
}
.movie-container{
  display:inline-block;
  margin:10px;
  max-width:30%;
  height:400px;
}
.movie-image{
  box-shadow: 0 0 .5px .5px;
  float:left;
  max-width:120px;
  margin-right:10px
}
.movie-link{
  float:right;
}
.movie-text{
 font-size:.8em;
 display: inline-block;
 vertical-align: text-top;
}
.book-container{
  margin-top:80px;
  height:400px;
}

@media(max-width:720px){
  .movie-container{
    display:block;
    height:340px;
    max-width:90%
  }
}
@media(max-width:500px){
  .movie-image{
    max-width:90px;
  }
}
@media(max-width:310px){
  .movie-container{
    height:450px;
  }
  .book-container{
    margin-top:100px;
  }
}

@media(max-width:290px){
  .movie-container{
    height:400px;
  }
}
