<footer>
    <nav class="social">
    <a href="https://www.linkedin.com/in/valerie-landguth/"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183167/icons_linkedin-white.png" alt="linkedin"></a>
    <a href="https://www.behance.net/valerie-landguth"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183167/icons_behance-white.png" alt="behance"></a>
    <a href="https://github.com/vlandguth"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183167/icons_github-white.png" alt="behance"></a>
  </nav>
</footer>