{% include head.html %}
{% include header.html %}
  
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/spaced/SPACEDblue_mockup.jpg"></div>
  <h1>{{ page.title }}</h1>
</div>
  
  <main class="project">
    <div class="info">
      <div class="descrip">
        <h3>Overview</h3>
        <p>{{ content }}</p>
      </div>
  
      <div>
        <h4>UX Concepts</h4>
        <ul>
          <li>UI Design</li>
          <li>Information Architecture</li>
        </ul>
      </div>
  
      <div>
        <h4>Status</h4>
        <ul>
          <li>Concept</li>
        </ul>
      </div>
  
      <div>
        <h4>Future Features</h4>
        <ul>
          <li>Development</li>
        </ul>
      </div>
    </div>

    <div class="proto">
        <iframe width="442" height="935" src="//invis.io/AWG5AO6DUKC" frameborder="0" allowfullscreen></iframe>
</div>
</main>


{% include footer.html %}
{% include scripts.html %}