{% include head.html %}
{% include header.html %}

  
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/spaced/SPACEDblue_mockup.jpg"></div>
  <h1>{{ page.title }}</h1>
</div>
  
<main class="project" id="game">
    <div class="info">
        <div class="descrip">
            <h3>Overview</h3>
            <p>{{ content }}</p>
        </div>

      <div>
            <h4>UX Concepts</h4>
            <ul>
              <li>Interaction Design</li>
              <li>User Research</li>
              <li>Usability Testing</li>
            </ul>
          </div>
    
          <div>
            <h4>UX Tools</h4>
            <ul>
              <li>Sketch</li>
              <li>InVision</li>
              <li>React.js</li>
            </ul>
          </div>
      
          <div>
            <h4>Status</h4>
            <ul>
              <li>Prototype</li>
              <li>App in Development</li>
            </ul>
          </div>
          </div>

          <div class="proto" id="game">
                <img class="screen splash" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183167/game%20copy.png" alt="SPACED Web Home Page">
                <iframe class="splash" width="442" height="935" src="//invis.io/8AKWYNIB72K" frameborder="0" allowfullscreen></iframe>
          </div>
</div>
</main>


{% include footer.html %}
{% include scripts.html %}