{% include head.html %}
{% include header.html %}
  
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/spaced/SPACEDblue_mockup.jpg"></div>
  <h1>{{ page.title }}</h1>
</div>
  
  <main class="project">
    <div class="info">
      <div class="descrip">
        <h3>Overview</h3>
        <p>{{ content }}</p>
      </div>
  
      <div>
        <h4>UX Concepts</h4>
        <ul>
          <li>Nested Sketch Symbols</li>
          <li>UI Design</li>
          <li>User Flows</li>
        </ul>
      </div>
  
      <div>
        <h4>Status</h4>
        <ul>
          <li>In Development</li>
        </ul>
      </div>
  
      <div>
        <h4>Future Features</h4>
        <ul>
          <li>Dark Mode!</li>
        </ul>
      </div>
    </div>

    <div class="proto">
        <iframe width="476" height="1000" src="//invis.io/H6FFSF3G4P8" frameborder="0" allowfullscreen></iframe>

</div>
</main>


{% include footer.html %}
{% include scripts.html %}