{% include head.html %}
{% include header.html %}
  
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/spaced/SPACEDblue_mockup.jpg"></div>
  <h1>{{ page.title }}</h1>
</div>
  
  <main class="project">
    <div class="info">
      <div class="descrip">
        <h3>Overview</h3>
        <p>{{ content }}</p>
      </div>
  
      <div>
        <h4>UX Concepts</h4>
        <ul>
          <li>Web Design</li>
          <li>Interaction Design</li>
        </ul>
      </div>

      <div>
            <h4>UX Tools</h4>
            <ul>
              <li>p5.js</li>
              <li>Javascript</li>
            </ul>
          </div>
  
      <div>
        <h4>Status</h4>
        <ul>
          <li>Complete</li>
        </ul>
      </div>
    </div>

    <div class="proto">
            <a href="https://drive.google.com/file/d/1NxhFjpdsoJlJtDcZcOHc_XvBuKwHit-d/view?usp=sharing">My Project In Action</a>
            <img src="/assets/img/rave/rave-mockup.png" alt="Rave">
            <a href="https://vlandguth.github.io/p5Rave/" target="_blank" class="button is-dark">View UX Rave Project</a>
</div>
</main>


{% include footer.html %}
{% include scripts.html %}