{% include head.html %}
{% include header.html %}

<h1>{{ page.title }}</h1>
<main class="resume">
  <div class="right">
    <h2>Experience</h2>
       <article class="list-item">
      <div class="side-bar">
        <h4>Eastern Washington University</h4>
        <h4>January - March 2018</h4>
      </div>
      <div class="descrip">
        <h4>UX and Web Design Teaching Assistant</h4>
        <p>Web Design and User Experience Design Teaching Assistant and Tutor. I answered questions in class and helped students find and solve problems in their HTML and CSS. I met with students outside of class who need extra help with assignments or projects, or gave feedback on students UI/UX design. I also helped write assessments and created a frequently asked questions page for students to refer to in future classes.</p>
      </div>
    </article>
     <article class="list-item">
      <div class="side-bar">
        <h4>INRIX Inc</h4>
        <h4>June - September 2017</h4>
      </div>
      <div class="descrip">
        <h4>UX Design Intern</h4>
        <p>I designed a Weather.com experience for connected-car software, <a href="http://inrix.com/products/inrix-opencar/">OpenCar</a> from start to finish. This included creating an information architecture, wireframes, visuals, presenting to stakeholders, and iterating. I also created a style guide for the design team to use and conducted usability testing on OpenCar apps and presented my results with solutions.</p>
        
      </div>
    </article>
    <h2>Education</h2>
    <article class="list-item">
      <div class="side-bar">
        <h4>Eastern Washington University</h4>
        <h4>2016 - 2018</h4>
      </div>
      <div class="descrip">
        <h4>BA Visual Communication Design and UX Design Certificate</h4>
        <p>Deans List - Fall 2017, Winter 2018</p>
      </div>
    </article>
     <article class="list-item">
      <div class="side-bar">
        <h4>Edmonds Community College</h4>
        <h4>2014 - 2016</h4>
      </div>
      <div class="descrip">
        <h4>AA in General Studies</h4>
        
      </div>
    </article>
     <h2>Skills</h2>
      <div class="skills">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sapiente aliquid vero sunt, necessitatibus quam atque, molestiae ex itaque dicta quibusdam, accusamus sit quas voluptatum ullam porro dolores tempore laboriosam!</p>
      </div>
  </div>
</main>

{% include footer.html %}
{% include scripts.html %}
