{% include head.html %}
{% include header.html %}
  
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/weather/WeatherMockup.jpg"></div>
  <h1>{{ page.title }}</h1>
</div>
  
  <main class="project">
    <div class="info">
      <div class="descrip">
        <h3>Overview</h3>
        <p>{{ content }}</p>
      </div>
  
      <div>
        <h4>UX Concepts</h4>
        <ul>
          <li>Information Architecture</li>
          <li>Wireframes</li>
          <li>Prototyping</li>
        </ul>
      </div>

      <div>
        <h4>UX Tools</h4>
        <ul>
          <li>Sketch</li>
          <li>InVision</li>
          <li>Zeplin</li>
        </ul>
      </div>
    </div>
  
      <div>
        <h4>Status</h4>
        <ul>
          <li>In Development</li>
        </ul>
      </div>
  
    <div class="proto">
        <iframe width="972" height="720" src="//invis.io/DMKWX6IGVKB" frameborder="0" allowfullscreen></iframe>
    </div>
</main>


{% include footer.html %}
{% include scripts.html %}